.calculator{
	width: 740px;
        margin: 0 auto;
    text-align:center;
    padding:10px 0;
    input {text-align: center;}
    span {font-size:small; font-weight: bold;}
    .calc-label{text-align:right;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
}
.calc-table-inputs{
	td {padding:0 10px 10px;}
	span {}

}
.calc-table-outputs{
	border-top: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	width: 540px;
	margin:0 auto;
	// border-top: 1px solid black;
	// border-left: 1px solid black;
	tr:nth-child(even) {background-color: #f2f2f2}
	td {padding:5px;
		border-right: 1px solid #d4d4d4;
		border-bottom: 1px solid #d4d4d4;}
		
	span {}

}
.info td {
	border-top: 1px solid #d0d0d0;
    padding: 6px 10px 0;
}
.tr-inputs td {
	padding-bottom:12px;
}
span.sq-span {display:inline-block; padding-right:10px;}
.sq{font-size: smaller}

#liters, #mft {display:inline-block; font-size: inherit}
.conversions {width:60px;}

//tool tip for chemical prices
.chem-total:hover .chem-prices {
    display: block;
}


.chem-prices {
    display: none;
    background: #dedede;
    margin-left: 100px;
    margin-top: -50px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:150px;
    height:80px;
    text-align: left;
}

.chem-total {
    margin:100px;
}

.rep-rate-message {
    padding: 10px 20px;
    border-left: 5px solid #dadada;
    background: #f3f3f3;
}
.rep-rate-warning {
    border-left: 5px solid #e05a5a;
    background: #ffe0e0;
}
@media (max-width: 767px){
.calculator { width: 100%;}
}