{% include header.html %}
<main class="site-content">
{% include breadcrumb.html %}
<section class="section-main">
  <div class="container">
			<div class="responsive-video margin-bottom-30">
        <iframe width="940" height="480" src="//www.youtube.com/embed/{{page.youtube-url}}?modestbranding=1;autohide=1&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    <p class="bold pad-top">Posted on {{ page.date | date: "%B %-d, %Y"}}</p>
    <hr>
     {{page.content}}
         
   
    </div>
</section>      
</main>  
{% include footer.html %}